@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: NTR, sans-serif;
}

.page-content-layout {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
        "header header header header header header header header header header header header"
		"content content content content content content content content content content content content"
		"footer footer footer footer footer footer footer footer footer footer footer footer";

	.page-layout__header {
		grid-area: header;

	}

	.page-layout__content {
		grid-area: content;

	}

	.page-layout__footer {
		grid-area: footer;
	}

    @media screen and (min-width: 1024px) {
		/* grid-template-columns: 200px 1fr; */
		grid-template-areas:
            "header header header header header header header header header header header header"
		    "footer content content content content content content content content content content content"
		    "footer content content content content content content content content content content content";
	}

	@media screen and (min-width: 1024px) {
		/* column-gap: 40px; */
	}
}